$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1220px;
$bp-desktop-xl: 1440px;

$font: "Nunito", sans-serif;


$verde: #198754;
$verde-claro: #198754;;
$rojo: #dc3545;
$azul: #012970;
$azul-claro: #0d6efd;
$naranja: #FF9800;
$gris-oscuro: #616161;
$gris-claro: #F5F5F5;
$fondo: #f6f9ff;
$negro: #212529;
$iconos: #01297080;