{% extends "layout.html" %}

{% block "page_content" %}

{% include "_includes/_header.html" %}

{% load crispy_forms_tags %}

<section class="stock">

  <article class="stock_actual">
    
    <div>
      <p>Stock actual</p>
      <p class="
          {% if producto.stock_status == 'bajo' %}stock-bajo
          {% elif producto.stock_status == 'medio' %}stock-medio
          {% endif %}">
          {{ producto.stock }}
      </p>
    </div>
  
    <div>
      <p>Stock mínimo</p>
      <p>{{ producto.stock_minimo }}</p>
    </div>
    
  </article>

  <article class="stock_buttons">
    <a href="{% url 'add_stock' object.pk %}" class="btn btn-success">Añadir</a>
    <a href="{% url 'delete_stock' object.pk %}" class="btn btn-danger">Eliminar</a>
  </article>

</section>


<section class="producto_detail modificar_stock">
  <div>
      <article class="producto_detail-header">
          <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="producto_detail-header-imagen">
          <h2 class="producto_detail-header-title">{{ producto.nombre }}</h2>
      </article>
  </div>

  <div class="stock_container">

      <article class="producto_detail-info">
          <div>
              <p>Stock</p>
              <p class="
                  {% if producto.stock_status == 'bajo' %}stock-bajo
                  {% elif producto.stock_status == 'medio' %}stock-medio
                  {% endif %}">
                  {{ producto.stock }}
              </p>

          </div>

          <div>
              <p>Stock mínimo</p>
              <p>{{ producto.stock_minimo }}</p>
          </div>
      </article>

      <article class="stock_buttons">
        <a href="{% url 'add_stock' object.pk %}" class="btn btn-success">Añadir</a>
        <a href="{% url 'delete_stock' object.pk %}" class="btn btn-danger">Eliminar</a>
      </article>

  </div>


</section>


{% endblock %}