{% extends "layout.html" %}

{% block "page_content" %}

{% include "_includes/_header.html" %}


<section class="producto_detail">
    <div>
        <article class="producto_detail-header">
            
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="producto_detail-header-img">
            <h2 class="producto_detail-header-title">{{ producto.nombre }}</h2>
        </article>
    </div>

    <div class="producto_detail-main">

        <article class="producto_detail-info">
            <div>
                <p>Precio</p>
                <p>{{ producto.precio }} €</p>
            </div>

            <div>
                <p>Categoría</p>
                <p>{{ producto.categoria }}</p>
            </div>

            <div>
                <p>Proveedor</p>
                <p>{{ producto.proveedor.nombre }}</p>
            </div>

            <div>
                <p>Stock</p>
                <p class="
                    {% if producto.stock_status == 'bajo' %}stock-bajo
                    {% elif producto.stock_status == 'medio' %}stock-medio
                    {% endif %}">
                    {{ producto.stock }}
                </p>

            </div>

            <div>
                <p>Stock mínimo</p>
                <p>{{ producto.stock_minimo }}</p>
            </div>
        </article>

        <article class="producto_detail-buttons">
            {% if request.user.is_authenticated%}
            <div class="producto_detail-buttons-flex">
                <a href="{% url 'modificar_stock' object.pk %}" class="btn btn-success btn">Modificar stock</a>
                <a href="{% url 'producto_delete' object.pk %}" class="btn btn-danger">Eliminar producto</a>
            </div>
            {% endif %}
            <a href="{% url 'productos_all' %}" class="btn btn-secondary">Todos los productos</a>
        </article>

    </div>


</section>






{% endblock %}

