{% extends "layout.html" %}

{% block "page_content" %}

{% include "_includes/_header.html" %}

{% load crispy_forms_tags %}

<section class="product_delete">

  <h3 class="product_delete-title">Está seguro de eliminar el producto {{ object.nombre }} <img src="{{object.imagen.url}}" alt="{{ object.nombre }}" class="product_delete-img">?</h3>
  
  <form method="post" class="product_delete-buttons">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger btn-sm product_delete-buttons-eliminar">Sí, eliminar</button>
      
      <button class="btn btn-secondary btn-sm product_delete-buttons-volver">
        <a href="{% url 'producto_detail' producto.pk %}">Volver</a>
      </button>
    </form>
      
  </section>
  
{% endblock %}